body {
    font-family: Liberation Serif, Serif;
    max-width: 120ch;
    margin: 3rem auto 10rem;
    text-align: justify;
}

.title {
    color: #000;
    text-align: center;
}

.subtitle {
    color: #000;
    text-align: center;
    font-weight: bold;
}


.author {
    font-style: italic;
    text-align: center;
}

.date {
    text-align: center;
}

.footnotes {
    font-size: smaller;
}

.footnotes::before {
    content: "Notes";
    color: #000;
    font-weight: bold;
    font-size: x-large;
}

.footnote-ref {
    text-decoration: none;
    font-size: 70%;
    color: #000;
}

.references::before {
    content: "Bibliographie";
    color: #000;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    color: #000;
    page-break-inside: avoid;
}

h1::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h2 {
    color: #000;
    page-break-inside: avoid;
}

h2::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}


h3 {
    color: #000;
    page-break-inside: avoid;
}

h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h4 {
    color: #000;
    page-break-inside: avoid;
}

h4::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h5 {
    color: #889e3a;
    page-break-inside: avoid;
}

h5::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

blockquote {
    background-color: #edf2f7;
    padding: 10px;
    border-left: 1px #000 solid;
}

figure {
    border: thin silver solid;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    display: block;
    margin: auto;
    padding: 0.5em;
}



img {
    max-width: 100%;
}

nav::before {
    content: "Sommaire";
    color: #000;
    font-weight: bold;
}

nav {
    padding: 0.5em;
    margin: auto;
    display: block;
    width: 80%;
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    font-weight: bold;
}

nav > ul > li::before {
    content: "/// ";
}

nav > ul > li > ul > li {
    font-weight: normal;
    font-style: normal;
    font-size: small;
}

nav > ul > li > ul > li > ul > li {
    font-weight: normal;
    font-style: italic;
    font-size: x-small;
}

nav {
    background-color: #edf2f7;
}

nav a {
    text-decoration: none;
    color: #000;
}

code {
    font-family: Liberation Sans, Sans;
    font-size: smaller;
}

pre {
    background-color: #edf2f7;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #edf2f7
}

th {
    text-align: center;
    background-color: #edf2f7;
    color: #000;
}

th,
td {
    padding: 8px;
}

hr {
    height: 1px;
    border-width: 0;
    color: #fff;
    background-color: #fff;
}

/* imprimer  */

@page {
  size: A4;
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 3cm;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

figure {
  page-break-inside: avoid;
}

table {
  page-break-inside: avoid;
}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}

@page:left{
  @bottom-left {
    content: counter(page);  }
}

@page :right {
  @top-right {
    content: string(doctitle);
    margin: 30pt 0 10pt 0;
    font-size: 8pt;
  }
}
